.hero-unit  
  %h1#logo #{@app.name}
  %p
  %p
    %a{:class=>"btn btn-primary btn-large"} Check out the Data!
%div{:data=>{:role=>"content"}}
  .span4
    %a{:data=>{:role=>"button", :icon=>"star", :theme=>"#{@app.jquerytheme}"}, :href=> "/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
  .span4  
    %a{:data=>{:role=>"button", :theme=>"#{@app.jquerytheme}"}, :href=>"/contact?seed=#{@seed}} #{Thesaurus::CONTACT.sample.capitalize}
  .span4
    %a{:data=>{:role=>"button", :theme=>"#{@app.jquerytheme}"}, :href=>"/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
