- @about_page = AboutPresenter.new(@app.dataset)
%div{:data=>{:role=>"header", :theme=>"#{@app.jquerytheme}"}}
  %a{:href=>"/?seed=#{@seed}"} Home
  %h1 #{@app.name}
%h1 about us
%p #{@about_page.getDataDescription}
%div{:data=>{:role=>"footer", :theme=>"#{@app.jquerytheme}"}}
  %div{:data=>{:role=>"navbar", :theme=>"#{@app.jquerytheme}"}}
    %ul
      %li
        %a{:href=>"/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
      %li
        %a{:href=>"/contact?seed=#{@seed}"} #{Thesaurus::CONTACT.sample.capitalize}
      %li
        %a{:href=>"/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
