%header
  %a{:href=>"/?seed=#{@seed}"}
    %h1#logo #{@app.name}
  %ul#menu
    %li
      %a{:href=>"/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
    %li.k-state-active
      %a{:href=>"/contact?seed=#{@seed}"} #{Thesaurus::CONTACT.sample.capitalize}
    %li
      %a{:href=>"/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
%div{:data=>{:role=>"content"}}
  .span4
    %a{:data=>{:role=>"button", :icon=>"star", :theme=>"#{@app.jquerytheme}"}, :href=> "/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
  .span4  
    %a{:data=>{:role=>"button", :theme=>"#{@app.jquerytheme}"}, :href=>"/contact?seed=#{@seed}"} #{Thesaurus::CONTACT.sample.capitalize}
  .span4
    %a{:data=>{:role=>"button", :theme=>"#{@app.jquerytheme}"}, :href=>"/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
