.logo
  %h1 #{@app.name}
.navi
  %a{:class=>"bttn bttn-primary", :href=> "/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
  %a{:class=>"bttn bttn-primary", :href=>"#"} #{Thesaurus::CONTACT.sample.capitalize}
  %a{:class=>"bttn bttn-info", :href=>"/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
