- @about_page = AboutPresenter.new(@app.dataset)
%header
  %div{:class=>"#{@app.navbar}"}
    .navbar-inner
      %a.brand#logo{:href=>"/?seed=#{@seed}"} #{@app.name}
      %ul.nav
        %li
          %a{:href=>"/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
        %li
          %a{:href=>"/contact?seed=#{@seed}"} #{Thesaurus::CONTACT.sample.capitalize}
        %li
          %a{:href=>"/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
%h1 about us
%p #{@about_page.getDataDescription}

